.card {
  background-color: rgb(1, 4, 28);
    margin-top: 50px;
  .data {
    width: 98.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 30px;
    column-gap: 100px;

    a {
      text-decoration: none;
    }
    .cards {
      margin-top: 50px;
      img {
        width: 300px;
      }
      p {
        color: #fe7900;
        font-size: 12px;
      }
    }
  }
  .cardword {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1 {
      color: #fe7900;
    }
    input{
      width: 250px;
      height: 20px;
    }
  }
}
