.footer {
  background-color: #cfbdbd;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 98.5vw;
  column-gap: 250px;
  margin-top: 50px;
  @media only screen and (max-width: 768px) {
    flex-direction: column;
  }
  .hisse1 {
    .searchinput {
      input {
        width: 300px;
        height: 30px;
        border: none;
        background-color: #efeded;
        outline: none;
      }
      .fa-solid {
        cursor: pointer;
      }
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .icons {
      a {
        text-decoration: none;
        color: black;
      }
      .fa-brands {
        margin: 10px;
        row-gap: 10px;
      }
      .fa-brands:hover {
        opacity: 0.7;
      }
    }
  }
  .hisse2 {
    display: flex;
    column-gap: 50px;

    ul {
      a {
        color: black;
        text-decoration: none;
      }
      .info,
      .con,
      .ser {
        font-weight: bold;
      }
      li {
        list-style: none;
      }
    }
  }
}
